body {
    background-color: red;
}
p.nomination {
    font-size: 24px;
    color: white;
}
p.quote {
    font-size: 20px;
    font-weight: bold;
}
ul {
    list-style-type: square;
}


.box-center {
    width: 200px;
    margin: 20px auto; 
    padding: 20px;
    background-color: lightyellow;
    border-style: dashed;
    border: 2px solid rgb(0, 0, 0); 
    text-align: center;
}

.box-left {
    width: 200px;
    margin: 20px;
    padding: 20px;
    background-color: lightblue;
    border-top: 2px solid black; 
    border-bottom: 2px solid black; 
    float: left;
}

.box-right {
    width: 200px;
    margin: 20px;
    padding: 20px;
    background-color: #cd7f32; 
    border: 2px solid black; 
    float: right;
}